nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: .5rem 8rem;
  background: #fafafa;
  border-bottom: 4px solid #1d1e44;
  margin-bottom: 1rem;

  @media only screen and (min-width: 1600px) {
    & {
      padding: .5rem 15rem;
    }
  }
  @media only screen and (max-width: 1040px) {
    & {
      padding: .5rem 3rem;
    }
  }
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;

}

img {
  width: 5rem;
  height: 3rem;
  object-fit: cover;
}